deep_learning/MajorLocation/
deep_learning/Movement/
deep_learning/SignType/
deep_learning/test_results
machine_learning/valid_results
data
data/interpolated_csvs
*.pdf
*.json
utils/launch_consecutive_simulations.py
deep_learning/commands.txt
ASL_phonetic_classification.egg-info
.idea
__pycache__
runs/
wandb/

