asl_dl/runs
asl_dl/test_results
asl_ml/valid_results
asl_data/reduced_SignData.csv
asl_data/csvs
asl_data/interpolated_csvs
*.pdf
*.json
asl_dl/commands.txt
ASL_phonetic_classification.egg-info
.idea
__pycache__
