deep_learning/MajorLocation/
deep_learning/Movement/
deep_learning/SignType/
deep_learning/test_results
machine_learning/valid_results
data/reduced_SignData.csv
data/csvs
data/small_csvs
data/pkls/*.pkl
data/*WLASL2000
data/*.mp4
data/interpolated_csvs
*.pdf
*.json
utils/launch_consecutive_simulations.py
deep_learning/commands.txt
ASL_phonetic_classification.egg-info
.idea
__pycache__
runs/
/data/weights/
